.leaderboard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leaderboard-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: 1px solid var(--accent-color-2);
}

.leaderboard-entry:hover {
    transform: scale(1.02);
    border-color: var(--accent-color-1);
}
